<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <link rel="stylesheet" type="text/css" href="./slider.css" />

        <script src="./slider.js"></script>
    </head>

    <body style="margin: 0;">
        <script>
            ZaSlider.configs.isLoop = true;
            ZaSlider.configs.isAuto = true;
        </script>

        <za-slider class="a" test>
            <za-slider-item class="item" style="background:rgba(1, 25, 221, 0.7)">
                123
            </za-slider-item>
            <za-slider-item style="background:rgba(174, 25, 121, 0.7)">
                456
            </za-slider-item>
            <za-slider-item style="background:rgba(211, 32, 221, 0.7)">
                789
            </za-slider-item>
            <za-slider-item style="background:rgba(122, 32, 24, 0.7)">
                012
            </za-slider-item>
            <za-slider-item style="background:rgba(21, 56, 88, 0.7)">
                213
            </za-slider-item>
        </za-slider>
    </body>
</html>
