/*
* @Author: nianko
* @Date:   2018-04-16 16:44:18
* @Last Modified by:   nianko
* @Last Modified time: 2018-04-16 16:44:20
*/
.za-confirm{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
}
.za-confirm .confirm-container{
    width: 360px;
    height: 100px;
    background: #ffffff;
    border-radius: 5px;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px #9e9a9a;
}
.za-confirm .confirm-container .confirm-title{
    font-size: 14px;
    font-weight: bold;
    color: #1c4587;
}
.za-confirm .confirm-container .confirm-info{
    height: 50px;
    font-size: 14px;
    color: #777777;
    word-break: break-all;
    overflow-y: auto;
}

.za-confirm .confirm-container button{
    font-weight: bold;
    padding: 5px 10px;
    outline: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,.3); 
    border-radius: 3px;
    border: 1px solid #f2f2f2;
}

.za-confirm .confirm-container button{
    background-color: #c9c2c1;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#c9c2c1)); 
    background: -moz-linear-gradient(top, #f8f8f8, #c9c2c1);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#f8f8f8,endcolorstr=#c9c2c1);
}
.za-confirm .confirm-container button:active{
    border-color: #cccccc;
    background: -webkit-gradient(linear, left top, left bottom, from(#c9c2c1), to(#f8f8f8)); 
    background: -moz-linear-gradient(top, #c9c2c1, #f8f8f8);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#c9c2c1,endcolorstr=#f8f8f8);
}