<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <link rel="stylesheet" type="text/css" href="./list.css" />
        <!-- // <script src="../miaoza.js"></script> -->
    </head>

    <body>
        <div class="za-list">
            <div class="za-item">
                123
            </div>
            <div class="za-item">
                <img class="za-avatar" src="../img/1.jpg" />
                456
            </div>
            <div class="za-item">
                <div class="za-avatar">
                    <img src="../img/2.jpg" />
                </div>
                789
            </div>
        </div>
    </body>
</html>