<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <link rel="stylesheet" type="text/css" href="./photo.css" />

        <script src="./photo.js"></script>
        <script src="../zaFor/zaFor.js"></script>
    </head>

    <body style="margin: 0;">
        <script>
        </script>
        <div class="za-photo">
            <img src="http://tse1.mm.bing.net/th?id=OIP.qUpopedPZzQvOdxCjYk6GwHaFj&pid=15.1" />
            <img src="http://tse2.mm.bing.net/th?id=OIP.ntVbXdrUye5GRBYhX6RyAwHaFj&pid=15.1" />
            <img src="http://wapfile.desktx.com/pc/161208/bigpic/584672bf5d6d8.jpg" />
            <img src="http://tse3.mm.bing.net/th?id=OIP.pb9ilOPKivmlFY1h7NRIMwHaGl&pid=15.1" />
            <img src="http://pic.ffpic.com/files/2014/0203/sj1116dm02.jpg" />
            <img src="http://tse3.mm.bing.net/th?id=OIP.ZP9ZLx3fSp8qqLyzLmWiHgHaFG&pid=15.1" />
            <img src="http://pic45.nipic.com/20140801/19253492_152443891000_2.jpg" />
            <img src="http://www.ouliu.net/uploadfile/2012/0819/20120819011415788.jpg" />
            <img src="http://pic29.nipic.com/20130518/8155239_151531560172_2.jpg" />
            <img src="http://tse1.mm.bing.net/th?id=OIP.hbEIYrIkI9l3W4zupXD8sQHaEK&pid=15.1" />
        </div>
    </body>
</html>
