<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <link rel="stylesheet" type="text/css" href="./photo.css" />

        <script src="./photo.js"></script>
        <script src="../zaFor/zaFor.js"></script>
    </head>

    <body style="margin: 0;">
        <script>
        </script>
        <div class="za-photo">
            <img src="http://cn.bing.com/images/search?view=detailV2&ccid=MOyYMzE2&id=7639C657741EA81F9B70DBE135F929214B42762A&thid=OIP.MOyYMzE2cDygImKi79pfbgHaEo&q=%e5%8a%a8%e6%bc%ab%e5%9b%be%e7%89%87+%e5%8f%af%e7%88%b1&simid=608004579232252246&selectedIndex=110" />
            <img src="http://cn.bing.com/images/search?view=detailV2&ccid=JCAnoS5L&id=4F1518D2BA921D8616589EFCA6CC588CB5ADF4F2&thid=OIP.JCAnoS5L0wD0fgrsaspzHwHaJf&q=%e5%8a%a8%e6%bc%ab%e5%9b%be%e7%89%87+%e5%8f%af%e7%88%b1&simid=608052704294801362&selectedIndex=134" />
            <img src="http://cn.bing.com/images/search?view=detailV2&ccid=aPvn5ewT&id=ADE720C6D60591B11DCE166415178FC6DBDA8435&thid=OIP.aPvn5ewTL3z4Ng2w16n7twHaEo&q=%e5%8a%a8%e6%bc%ab%e5%9b%be%e7%89%87+%e5%8f%af%e7%88%b1&simid=608042413595889046&selectedIndex=141" />
            <img src="http://cn.bing.com/images/search?view=detailV2&ccid=oSK7HXIB&id=F5D6DE6F90D2AAAD93D29D4257FD3973D8415B80&thid=OIP.oSK7HXIB-FyAB6mX1fX35wHaEo&q=%e5%8a%a8%e6%bc%ab%e5%9b%be%e7%89%87+%e5%8f%af%e7%88%b1&simid=608033484336857810&selectedIndex=143" />
            <img src="http://cn.bing.com/images/search?view=detailV2&ccid=ytUwdj%2b%2f&id=F5A6876049EBFA9C0153B81A55BEF9A874EC2EE0&thid=OIP.ytUwdj-_HhClfZnxJM54LwHaFS&q=%e5%8a%a8%e6%bc%ab%e5%9b%be%e7%89%87+%e5%8f%af%e7%88%b1&simid=607990573305432906&selectedIndex=15&qpvt=%e5%8a%a8%e6%bc%ab%e5%9b%be%e7%89%87+%e5%8f%af%e7%88%b1" />
            <img src="http://cn.bing.com/images/search?view=detailV2&ccid=yFqtzOpo&id=B42AF18513D5ACDC52EF7141AF811BE10CDAD580&thid=OIP.yFqtzOpoUtlPLtN6gwxMuAHaL2&q=%e5%8a%a8%e6%bc%ab%e5%9b%be%e7%89%87+%e5%8f%af%e7%88%b1&simid=608006606436303752&selectedIndex=118" />
            <img src="http://cn.bing.com/images/search?view=detailV2&ccid=qUpopedP&id=D7CE2674978B7645CFC68DBD6458C4342AC15987&thid=OIP.qUpopedPZzQvOdxCjYk6GwHaFj&q=%e5%8a%a8%e6%bc%ab%e5%9b%be%e7%89%87+%e5%8f%af%e7%88%b1&simid=608028098422048412&selectedIndex=173" />
            <img src="http://cn.bing.com/images/search?view=detailV2&ccid=yHT0yMb6&id=30F9B9DC0D0A51AC010CD10F791FC33761CAD03E&thid=OIP.yHT0yMb6QIPg86m6rd_fygHaNK&q=%e5%8a%a8%e6%bc%ab%e5%9b%be%e7%89%87+%e5%8f%af%e7%88%b1&simid=608001525486063057&selectedIndex=210" />
            <img src="http://cn.bing.com/images/search?view=detailV2&ccid=hbEIYrIk&id=6E49071ED45D6A19E96F5109742CFEE1B2ACC1C4&thid=OIP.hbEIYrIkI9l3W4zupXD8sQHaEK&q=%e5%8a%a8%e6%bc%ab%e5%9b%be%e7%89%87+%e5%8f%af%e7%88%b1&simid=608006507655925612&selectedIndex=214" />
            <img src="http://cn.bing.com/images/search?view=detailV2&ccid=kchkD%2bs5&id=19BAC8D4681150A0367555231D259BC12C0EDA0C&thid=OIP.kchkD-s5Q9uOAfCNCqxeYgEsEs&q=%e5%8a%a8%e6%bc%ab%e5%9b%be%e7%89%87+%e5%8f%af%e7%88%b1&simid=608025272375968884&selectedIndex=198" />
        </div>
    </body>
</html>
