<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <link rel="stylesheet" type="text/css" href="./button.css" />

        <script src="./button.js"></script>
        <!-- // <script src="../miaoza.js"></script> -->
    </head>

    <body>
        <button class="za-default">
            default button
        </button>

        <button class="za-disabled">
            default disabled
        </button>

        <button class="za-primary">
            primary button
        </button>

        <button class="za-primary za-disabled">
            primary disabled
        </button>

        <button class="za-warn">
            warn button
        </button>

        <button class="za-warn" disabled>
            warn disabled
        </button>

        <button class="za-success">
            success button
        </button>

        <button class="za-error">
            error button
        </button>

        <button class="za-puler">
            puler button
        </button>

        <button class="za-puler" disabled>
            puler button
        </button>
    </body>
</html>